body {
    margin: 0px;
    padding: 0px;
    font-family: Bebas Neue, IBM Plex Sans Thai Looped;
}

.container {
    display: flex;
    flex-direction: column;
    height: min-content;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: #186F65;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
    
    & ul {
        display: flex;
        column-gap: 20px;
        list-style-type: none;
        
        & li a {
            font-size: 25px;
            font-weight: bold;
            color: #fce09b;
            text-decoration: none;
        }

        & a:hover {
            color: #fff;
        }
    }
}

.home {
    display: flex;
    flex-direction: column;
    height: 1024px;
    align-items: center;
    justify-content: center;
    color: #B2533E;
    background-color: #B5CB99;

    & .cnake {
        font-size: 300px;
        letter-spacing: 10px;
        font-weight: bold;
    }

    & .text {
        font-size: 40px;
        letter-spacing: 10px;
        font-weight: bold;
    }
}

.about-cnake {
    display: flex;
    flex-direction: column;
    height: 1024px;
    align-items: center;
    justify-content: center;
    color: #fce09b;;
    background-image: url(./img/forest.jpg);

    & .text {
        font-size: 100px;
        letter-spacing: 2px;
        font-weight: bold;
    }

    & .description {
        font-size: 30px;
        width: 50%;
        text-align: center;
    }
}

.poster {
    display: flex;
    height: 2560px;
    align-items: center;
    justify-content: center;
    background-color: #B5CB99;
}

.about-project {
    display: flex;
    height: 512px;
    align-items: center;
    justify-content: center;
    column-gap: 250px;
    background-color: #fff;
    font-size: 30px;

    & .container-member {
        & .head {
            font-size: 70px;
            font-weight: bold;
        }

        & ul {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            list-style-type: none;
        
            & li a{
                    font-size: 25px;
                    font-weight: bold;
                    text-decoration: none;
                }
        }
    }

    & .container-btn {
        display: flex;
        flex-direction: column;
        row-gap: 35px;
        text-align: center;

        & .btn {
            max-width: 400px;
            background-color: #B5CB99;
            font-size: 40px;
            padding: 2px 40px;
            border-radius: 0.25rem;
            
            & a {
                text-decoration: none;
                color: #B2533E;
            }
            
        
        }

        & .btn:hover a{
            color: #fce09b;
        }
    }
}